label {
    color: white;
    width: 170px;
    display: inline-block;
    margin: 5px;
}

input, select, button {
    background-color: #ffffffb0;
    border: 2px solid #000000;
    margin: 5px;
    width: 170px;
    font-size: 25px;
    display: inline-block;
}

button {
    border-radius: 10px;
}

summary {
    margin: 1em;
}

#guide {
    color: white;
    font-size: 20px;
}