#block {
    display: inline-block;
}

input, select, button {
    background-color: #ffffffb0;
    border: 2px solid #000000;
    margin: 5px;
    width: 170px;
    font-size: 25px;
    display: inline-block;
}

button {
    border-radius: 10px;
}

summary {
    margin: 1em;
}

#calc-result, #speed-result {
    color: white;
    font-size: 20px;
    background-color: #000000;
    padding: 1em;
}

#icon {
    width: 56px;
    height: 56px;
    position: relative;
    top: 15px;
    left: 0px;
}