html { 
    background: url(../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    padding: 1em;
}

h1 {
    background: #30303080;
    padding: 1em;
    text-align: center;
    color: white;
}

h2 {
    color: white;
    background: #30303080;
    display: inline-block;
    padding: 1em;
}

p {
    color: white;
}

a {
    color: inherit;
}

#category-title {
    font-size: 40px;
    padding: 1em;
}

#category {
    background: #20202080;
    font-size: 16px;
    padding: 1em;
    color: black;
}

.elem {
    display: inline-block;
    vertical-align:middle;
    padding: 20px 20px 0px;
}

.title-icon {
    vertical-align:middle;
    height:124px;;
}

.main-link {
    text-decoration: none;
}

.cat-link {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #b8b8b8b0;
    padding: 5px 5px 5px;
    text-align: center;
}

.cat-link:hover {
    background-color: #98dde3b0;
}

.cat-icon {
    display: inline-block;
    vertical-align:middle;
    height:100px;
    border-radius: 50%;
    box-shadow: 0 0 0 2pt #000000
}

table {
    background: #ffffff80;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 1px solid #333;
}

thead, tfoot {
    background-color: #222222;
    color: #ffffff;
}

tr td:last-child {
    max-width:100%;
    white-space:nowrap;
}

tbody#table-content>tr:hover {
    background-color: #ffffff;
}

#cell>a, #cell-big>a {
    color: #003f73;
}

#cell {
    min-width:80px;
    max-width:80px;
    text-align: left;
}

#cell-big {
    min-width:150px;
    max-width:80px;
    text-align: left;
}

#gwoption1, #gwoption2, #gwoption3, #gwfilterconfirm {
    background-color: #ffffffb0;
    border: 2px solid #000000;
    margin: 5px;
    width: 170px;
    font-size: 25px;
    display: inline-block;
}

#gwfilter {
    background-color: #ffffffb0;
    border: 2px solid #000000;
    margin: 5px;
    width: 250px;
    font-size: 25px;
    display: inline-block;
}

#gwoption1:hover, #gwoption2:hover, #gwoption3:hover, #gwfilter:hover, #gwfilterconfirm:hover {
    background-color: #ffffff;
}

#gwfilterconfirm {
    border-radius: 10px;
}